doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    title= title
  body
    block content
    

